@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeueMedium.ttf');
}

.mobiletitle {
  display: none;
}

body {
  background-color: black;
  color: red;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  font-family: HelveticaNeue;
  font-size: 16px;
  z-index: 4;
  cursor: default;
}
.home:hover {
  color: white;
  cursor: pointer;
}
.back:hover {
  color: white;
  cursor: pointer;
}
.forward:hover {
  color: white;
  cursor: pointer;
}
.back {
  width: 30%;
  text-align: left;
}
.forward {
  width: 30%;
  text-align: right;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.posters {
  position: relative;
  height: 100vh;
  width: 64vh;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  text-align: center;
}
.poster {
  width: 64vh;
  padding-left: 10px;
  padding-bottom: 10px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: HelveticaNeue;
  font-size: 16px;
  opacity: 0%;


}
.centered:hover {
  opacity: 100%;
  cursor: pointer;
}

.left {
  padding-top: 40px;
  overflow: scroll;
  cursor: url("images/s-resize.png"), auto;
    width: 64vh;
}
.left::-webkit-scrollbar {
  display: none;
}

.books {
  padding-top: 40px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.books img {
  width: 45vh;
  height: 31vh;
  padding-bottom: 10px;
}
.book {
  position: relative;

}


.intro {
  margin: auto;
  cursor: url("images/s-resize.png"), auto;
}



#intro {
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: HelveticaNeue;
  color: white;
  font-size: 40px;
  align-items: center;

}

#introposters {
  width: 70vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: HelveticaNeue;
  color: white;
  font-size: 40px;
  align-items: center;
}

.bigimages {
  margin-top: 40px;
}
.bigimages img {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.pagecounter {
  display: flex;
  flex-direction: row;
  padding-left: 40px;
  cursor: pointer;
}


.footer {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 10px;
  font-family: HelveticaNeue;
  font-size: 16px;
  cursor: pointer;
}

.footerposters {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 10px;
  font-family: HelveticaNeue;
  font-size: 16px;
  cursor: pointer;
}


#footer {
  display: none;
}

#backtostart:hover {
  color: white;
}


.spreads1 {
  flex-direction: row;
  padding-bottom: 10px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
}

.spreads2 {
  flex-direction: row;
  padding-bottom: 10px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
}

#spread {
  height: 80%;
}

.navigation {
  position: absolute;
  top: 40px;
  bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  z-index: 2;
  opacity: 0%;
}

#previouspage {
  text-align: center;
  flex-grow: 1;
  cursor: url("images/w-resize.png"), auto;
  color: black;
}

#nextpage {
  text-align: center;
  flex-grow: 1;
  cursor: url("images/e-resize.png"), auto;
  color: black;
}
#fistoverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 3;
}
#fistoverlay img {

    position: fixed;
    top: 0;
    left: 0;
  width: 100%;
}
